@model Enterwell_Faruk_Obradovic.ViewModels.InvoiceViewModel

@{ 
    ViewData["Title"] = "Prikaz svih faktura";
}


<h1 style="margin-bottom: 50px;">Prikaz svih faktura</h1>

<table class="table" style="margin-top:50px; margin-bottom: 50px;">
    <thead>
        <tr>
            <th scope="col">Broj fakture</th>
            <th scope="col">Datum izdavanja fakture</th>
            <th scope="col">Ukupno bez PDV</th>
            <th scope="col">Ukupno sa PDV</th>
            <th scope="col">Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in Model.InvoicesList)
        {
            <tr>
                <td>@i.BrojFakture</td>
                <td>@i.DatumKreiranja.ToString("d")</td>
                <td>@String.Format("{0:0.##}", @i.UkupnoBezPDV) KM</td>
                <td>@String.Format("{0:0.##}", @i.UkupnoSaPDV) KM</td>
                <td><a asp-action="Display" asp-controller="Invoice" asp-route-FakturaID="@i.FakturaID">Pogledaj</a></td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateInvoice" asp-controller="Invoice" class="btn btn-primary">Kreiraj novu fakturu</a>